<div class="container-sm">
<br>

  <h1>Nueva Categoria</h1>

  <%= render "form", category: @category %>

  <br>

  <div class= "mb-3">
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>
